$main-border:1px solid red;
$sub-border1:1px solid green;
$sub-border2:1px solid rgb(3, 1, 95);
$primary-color01:#2fc4b2;
$text-color:#364d59;
$background-color-palet01:#f8f9fa;
$background-color-palet02:#efefef;
$font-family01:'Playfair Display', serif;
$font-family02:'Roboto', sans-serif;

/* header section starts*/
.nav-bar-outer{
    position: absolute;
    margin: 0;
    padding: 26px;
    width:100%;
    // border: $main-border;
    display: flex;
    z-index: 9;
}
.nav-bar-outer > .container > .row > .nav-logo{
    width: 25%;
    // border: $sub-border1;
    height: 40px;
    display: flex;
    position: relative;
}
.nav-bar-outer > .container > .row > .nav-logo a{
    text-decoration: none;
    color: #ffffff;
    font-size: 27.2px;
    font-family: $font-family02;
    display: flex;
    align-items: center;
}
.nav-bar-outer > .container > .row > .nav-logo a span{
    color: $primary-color01;
}
.nav-bar-outer > .container > .row > .nav-logo > .burger-bar{
    position: absolute;
    right: 0;
    top: 8px;
    display: none;
}

.nav-bar-outer > .container > .row > .nav-items{
    width: 75%;
    // border: $sub-border1;
    height: 40px;
    position: relative;
}
.nav-bar-outer > .container > .row > .nav-items ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.nav-bar-outer > .container > .row > .nav-items ul li{
    height: 40px;
    padding:0 15px;
    // border: $sub-border1;
    ;display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar-outer > .container > .row > .nav-items ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-family: $font-family02;
    font-size: 16px;
}
.nav-bar-outer > .container > .row > .nav-items ul li a:hover{
   color: #ffffff;
}
/* header section end*/

/* background photo start*/
.background-outer{
    // border: $main-border;
    height: 100vh;
    width: 100%;
    background-image: url('https://preview.colorlib.com/theme/acupuncture/images/hero_bg_1.jpg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.background-outer > .bg-outer-body-outer{
    position: absolute;
    width: 100%;
    height: auto;
    // border: $sub-border2;
    top: 31%;
    display: flex;
}
.background-outer > .bg-outer-body-outer >.main-discription-outer{
    width: 100%;
    // border: $sub-border1;
    height: auto;
    padding: 0!important;
    justify-content: center;
}
.background-outer > .bg-outer-body-outer > .main-discription-outer > .head-topic-outer{
    width: 100%;
    height: 70px;
    // border: $sub-border2;
    display: flex;
    margin: 0;
    justify-content: center;
}
.background-outer > .bg-outer-body-outer > .main-discription-outer > .head-topic-outer > .head-topic{
    width: 98%;
    height: inherit;
    // border: $main-border;
}
.background-outer > .bg-outer-body-outer > .main-discription-outer > .head-topic-outer > .head-topic h4{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-family: $font-family01;
    font-weight: 700;
    color: #ffffff;
}
.background-outer > .bg-outer-body-outer >.main-discription-outer > .head-topic-outer > .head-topic h4 span{
    color: $primary-color01;
}
.background-outer > .bg-outer-body-outer > .main-discription-outer > .discription{
    width: 100%;
    height: 80px;
    // border: $sub-border2;
    justify-content: center;
    text-align: center;
    display: flex;
}
.background-outer > .bg-outer-body-outer > .main-discription-outer > .discription > .discription-body{
    width: 44%;
    // border: $sub-border1;
    justify-content: center;
    text-align: center;
    display: flex;
}
.background-outer >.bg-outer-body-outer > .main-discription-outer > .discription > .discription-body p{
  margin-bottom: 0;
  color: #ffffff;
  font-size: 16px;
  font-family: $font-family02;
  font-weight: 400;
  line-height: 27px;
}
.background-outer > .bg-outer-body-outer > .main-discription-outer > .video-play{
    width: 100%;
    height: 70px;
    // border: $sub-border2;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.background-outer > .bg-outer-body-outer > .main-discription-outer > .video-play > .video-play-inner{
    width: 100%;
    // border: $sub-border2;
    text-align: center;
    display: flex;
    position: relative;
}

.background-outer >.bg-outer-body-outer > .main-discription-outer > .video-play > .video-play-inner > .ply-btn{
    position: relative;
    display: flex;
    width: 50px;
    height: 50px;
    // border: $sub-border2;
    top: 17px;
    border-radius: 100%;
    background-color: $primary-color01;
    margin-left: 41%;
    cursor: pointer;
}
.background-outer >.bg-outer-body-outer > .main-discription-outer > .video-play > .video-play-inner > .ply-btn i{
    position: absolute;
    top: 17px;
    right: 17px;
}
.background-outer >.bg-outer-body-outer > .main-discription-outer > .video-play > .video-play-inner > .ply-btn-topic{
   padding-left: 15px;
   justify-content: center;
   display: flex;
   align-items: center;
   position: relative;
   top: 15px;
   cursor: pointer;
}
.background-outer >.bg-outer-body-outer > .main-discription-outer > .video-play > .video-play-inner > .ply-btn-topic p{
    font-size: 18px;
    font-family: $font-family02;
    color: #ffffff;
 }
/*=============================background photo end======================================*/

/* icone are start*/

.icone-area-outer{
    width: 100%;
    height: auto;
    // border: $main-border;
}
.icone-area-outer > .icon-inner{
    width: 100%;
    height: auto;
    // border: $sub-border1;
    background-color: #2fc4b2;
    cursor: pointer;
    
}

.icone-area-outer > .icon-inner > .row > .icon-wrapper{
    height: 200px;
    // border: $main-border;
    padding: 20px;
    
}
.icone-area-outer > .icon-inner > .row > .icon-wrapper:hover .wrapper-outer > .wrapper-inner-icon-topic h2{
    color: black;
}
.icone-area-outer > .icon-inner > .row > .icon-wrapper:hover .wrapper-outer > .wrapper-inner-icon-topic h2:before{
    background-color: $primary-color01
}
.icone-area-outer > .icon-inner > .row > .icon-wrapper:hover{
    background-color: #ffffff;
    transition: 0.5s;
}

.icone-area-outer > .icon-inner > .row > .icon-wrapper >.wrapper-outer{
    // border: $main-border;
    width: 100%;
    height: 100%;
}
.icone-area-outer > .icon-inner > .row > .icon-wrapper >.wrapper-outer > .wrapper-inner-icon-inner{
    display: flex;
    position: relative;
    justify-content: center;
    // border: $sub-border1;
    width: 100%;
    height: 50%;
}
.icone-area-outer > .icon-inner > .row > .icon-wrapper >.wrapper-outer > .wrapper-inner-icon-inner > .wrapper-inner-icon{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100px;
}

.icone-area-outer > .icon-inner > .row > .icon-wrapper >.wrapper-outer > .wrapper-inner-icon-topic{
    // border: $sub-border1;
    width: 100%;
    height: 50%;
    display: flex;
    position: relative;
    justify-content: center;
}
.icone-area-outer > .icon-inner > .row > .icon-wrapper >.wrapper-outer > .wrapper-inner-icon-topic h2{
    margin-top: 20px;
    color: #ffffff;
    font-size: 18px;
    font-family: $font-family01;
    position: relative;
}
.icone-area-outer > .icon-inner > .row > .icon-wrapper >.wrapper-outer > .wrapper-inner-icon-topic h2:before{
    position: absolute;
    content: "";
    width: 40px;
    height: 3px;
    left: 35%;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.2);
}
/*=================icone are end============================*/


/*=================choose-us-outer start============================*/
.choose-us-outer{
    margin-top: 90px;
    width: 100%;
    height: auto;
    // border: $main-border;
}
.choose-us-outer > .choose-inner{
    width: 100%;
    height: auto;
    // border: $main-border;
}
.choose-us-outer > .choose-inner > .row > .choose-wrapper-left{
    padding-left: 110px;
    display: flex;
    height: 350px;
    // border: $sub-border2;
}
.choose-us-outer > .choose-inner > .row > .choose-wrapper-left > .wrapper-left-body{
    width: 350px;
    // border: $sub-border1;
}
.choose-us-outer > .choose-inner > .row > .choose-wrapper-left > .wrapper-left-body h2{
    font-size: 28px;
    color: #364d59;
    font-family: $font-family01;
    font-weight: 700;
}
.choose-us-outer > .choose-inner > .row > .choose-wrapper-left > .wrapper-left-body p{
    margin-top: 20px;
    font-size: 16px;
    color: #364d59;
    font-family: $font-family02;
    line-height: 26px;
}
.choose-us-outer > .choose-inner > .row > .choose-wrapper-left > .wrapper-left-body > .btn-primary{
    margin-top: 33px;
    border-radius: 5px!important;
    background-color: $primary-color01;
    border-color: $primary-color01;
    padding: 12px 25px;
}
.choose-us-outer > .choose-inner > .row > .choose-wrapper-left > .wrapper-left-body > .wrapper-btn h3{
    font-size: 16px;
    font-family: $font-family02;
    color: #ffffff;
}
.choose-us-outer > .choose-inner > .row > .choose-wrapper-right{    
    padding: 0 140px;
    display: flex;
    height: 350px;
    // border: $sub-border2;
    position: relative;
}
.choose-us-outer > .choose-inner > .row > .choose-wrapper-right >.wrapper-right-image{
    justify-content: center;
    display: flex;
    position: absolute;
    // border: $sub-border2;
    height: 300px;
}

/*=================choose-us-outer end============================*/

/*=================ccontainer area start============================*/

.shadowbox{
    // border: $main-border;
    margin-top: 130px;
    width: 100%;
    height:auto;
    position: relative;
}
.shadowbox > .shadow-outer{
    // border: $sub-border1;
    width: 100%;
    height:auto;
}
.shadowbox > .shadow-outer > .row > .shadow-box{
    // border: $sub-border2;
    height: auto;
    padding: 15px;
}
.shadowbox > .shadow-outer > .row > .shadow-box > a {
   text-decoration: none;
}
.shadowbox > .shadow-outer > .row > .shadow-box > .shadow-box-outer{
    width: 100%;
    height: auto;
    padding: 15px;
    // border: $sub-border1;
    display: flex;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}
.shadowbox > .shadow-outer > .row > .shadow-box >.shadow-box-outer >.shadow-box-outer-left{
    width: 130px;
    height:auto;
    // border: $sub-border2;
}
.shadowbox > .shadow-outer > .row > .shadow-box >.shadow-box-outer >.shadow-box-outer-left img{
    margin-left: 15px;
    margin-top: 15px;
}
.shadowbox > .shadow-outer > .row > .shadow-box >.shadow-box-outer >.shadow-box-outer-right{
    width: 460px;
    height:auto;
    // border: $sub-border2;
}
.shadowbox > .shadow-outer > .row > .shadow-box >.shadow-box-outer >.shadow-box-outer-right h4{
    margin-top: 15px;
    font-size: 20px;
    font-family: $font-family01;
    color: #000;
}
.shadowbox > .shadow-outer > .row > .shadow-box >.shadow-box-outer >.shadow-box-outer-right p{
    font-size: 14px;
    font-family: $font-family02;
    color: rgba(0, 0, 0, 0.5);
}

/*=================ccontainer area end============================*/

/*=================happy custormers start============================*/

.happycustmr{
    height: auto;
    width: 100%;
    padding: 20px 0;
    // border: $main-border;
    margin-top: 100px;
    background-color: #f8f9fa !important;
}
.outer > .main-topic{
    margin-top: 80px;
    width:100%;
    height: 100px;
    // border: $sub-border1;
    text-align: center;
    position: relative;
}
.outer > .main-topic h6{
    font-size: 16px;
    font-family: $font-family02;
    color: $primary-color01;
}
.outer > .main-topic h2{
    font-size: 32px;
    font-family: $font-family01;
    color: #364d59;
    font-weight: 700;
}
.outer > .main-topic p{
    font-size: 16px;
    font-family: $font-family02;
    color: #364d59;
}
.happycustmr > .detailsbox{
    margin-top: 50px;
    width: 100%;
    height: auto;
    // border: $main-border;
    margin-bottom: 65px;
}
.happycustmr > .detailsbox > .row > .dtl-box-outer{
    // border: $sub-border2;
    height: auto;
    padding: 15px;
}
.happycustmr > .detailsbox > .row > .dtl-box-outer > .dtl-box-inner{
    position: relative;
    padding: 30px;
    border-radius: 7px;
    // border: $sub-border2;
    height: auto;
    width: 100%;
    background: #fff;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
}
.happycustmr > .detailsbox > .row > .dtl-box-outer > .dtl-box-inner >.inner-outer{
    height: auto;
    width: 100%;
    // border: $main-border;
    position: relative;
}
.happycustmr > .detailsbox > .row > .dtl-box-outer > .dtl-box-inner >.inner-outer > .inner-outer-up{
    height: auto;
    width: 100%;
    // border: $main-border;
}
.happycustmr > .detailsbox > .row > .dtl-box-outer > .dtl-box-inner >.inner-outer > .inner-outer-up p{
    color: #364d59;
    font-size: 16px;
    font-family: $font-family02;
    line-height: 25px;
}
.happycustmr > .detailsbox > .row > .dtl-box-outer > .dtl-box-inner >.inner-outer > .inner-outer-down{
    margin-top: 10px;
    height: auto;
    width: 100%;
    // border: $sub-border1;
    position: relative;
    display: flex;
}
.happycustmr > .detailsbox > .row > .dtl-box-outer > .dtl-box-inner >.inner-outer > .inner-outer-down img{
    width: 50px;
    border-radius: 50%;
}
.happycustmr > .detailsbox > .row > .dtl-box-outer > .dtl-box-inner >.inner-outer > .inner-outer-down > .author-name{
    margin-top: 7px;
    margin-left: 15px;
    width: 90px;
    height: auto;
    // border: $sub-border2;
}

.happycustmr > .detailsbox > .row > .dtl-box-outer > .dtl-box-inner >.inner-outer > .inner-outer-down > .author-name h3{
    font-size: 16px;
    font-family: $font-family02;
    color: #364d59;
    margin: 0!important;
}
.happycustmr > .detailsbox > .row > .dtl-box-outer > .dtl-box-inner >.inner-outer > .inner-outer-down > .author-name h2{
    font-size: 16px;
    font-family: $font-family02;
    color: #CCCCCC;
}

/*=================happy custormers end============================*/

/*=================News and tips start============================*/

.newsandtips{
    // border: $main-border;
    width: 100%;
    height: auto;
}
.newsandtips > .main-topic{
    margin-bottom: 40px;
}
.newsandtips > .detailsbox{
    width: 100%;
    padding: 10px;
    height: auto;
    // border: $main-border;
    margin-bottom: 65px;
}
.newsandtips > .detailsbox >.row > .nws-box-outer{
    padding: 0px 15px;
    height: auto;
    // border: $sub-border1;
}
.newsandtips > .detailsbox >.row > .nws-box-outer > .nws-box-inner{
    // border: $sub-border2;
}

.newsandtips > .detailsbox >.row > .nws-box-outer > .nws-box-inner > .nws-box-hyper > a > .img-fluid {
    max-width: 100%;
    height: auto;
}
.newsandtips > .detailsbox >.row > .nws-box-outer > .nws-box-inner > .nws-box-hyper, .nws-box-discription span{
    margin-bottom: 15px;
}

.newsandtips > .detailsbox >.row > .nws-box-outer > .nws-box-inner > .nws-box-discription span .topichead{
    color: #999999;
    font-size: 16px;
    font-family: $font-family02;
}

.newsandtips > .detailsbox >.row > .nws-box-outer > .nws-box-inner > .nws-box-discription span > .to-1{
    padding: 0 10px!important;
}
.newsandtips > .detailsbox >.row > .nws-box-outer > .nws-box-inner > .nws-box-discription span > .to-2 a{
    color: #000000;
    text-decoration: none;
}
.newsandtips > .detailsbox >.row > .nws-box-outer > .nws-box-inner > .nws-box-discription span{
    color: #999999;
    font-size: 16px;
    font-family: $font-family02;
}
.newsandtips > .detailsbox >.row > .nws-box-outer > .nws-box-inner > .nws-box-discription h2{
    color: #000;
    font-size: 22px;
    font-family: $font-family01;
    margin-bottom: 15px;
}
.newsandtips > .detailsbox >.row > .nws-box-outer > .nws-box-inner > .nws-box-discription p{
    color: #364d59;
    font-size: 16px;
    font-family: $font-family02;
}

/*=================News and tips end============================*/

/*=================contact us start============================*/
.contact-us{
    width: 100%;
    // border: $main-border;
    height: auto;
    background-color: $primary-color01;
}
.contact-us > .contact-wrapper{
    width: 100%;
    padding: 50px 0;
    height: auto;
}
.contact-us > .contact-wrapper > .row > .contact-us-outer{
    // border: $sub-border1;
    position: relative;
    justify-content: center;
    align-items: center;
}
.contact-us > .contact-wrapper > .row > .contact-us-outer-btn{
    // border: $sub-border1;
    position: relative;
    text-align: right;
    justify-content: center;
    display: block;
}
.contact-us > .contact-wrapper > .row > .contact-us-outer h2{
    color: #ffffff;
    font-size: 32px;
    font-family: $font-family01;
    margin: 0!important;
}
.contact-us > .contact-wrapper > .row > .contact-us-outer p{
    color: #ffffffb3;
    font-size: 16px;
    font-family: $font-family02;
    margin: 0!important;
}
.contact-us > .contact-wrapper > .row > .contact-us-outer-btn >.btn-white{
    margin-top: 4px;
    border: 1px solid $primary-color01;
    background: #fff;
    color: #2fc4b2;
    padding: 12px 25px;
    font-weight: 500;
    font-family: $font-family02;
}
.contact-us > .contact-wrapper > .row > .contact-us-outer-btn >.btn-white:hover{
    border: #259b8d 1px solid;
}
/*=================contact us end============================*/

/*=================footer start============================*/

.footer{
    width: 100%;
    height: auto;
    border: 1px solid #EFEFEFEF;;
    background-color: #EFEFEFEF;
    // padding: 90px 0 0px 0;
}
.footer > .footer-outer{
    margin-top: 70px;
    width: 100%;
    height: auto;
    // border: $sub-border1;
    margin-bottom: 50px;
}
.footer > .footer-outer > .row > .footer-inner{
    height: auto;
    // border: $sub-border2;
}
.footer > .footer-outer > .row > .footer-inner >.inner-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}

.footer > .footer-outer > .row > .footer-inner >h2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #364d59;
    font-size: 16px;
    font-family: $font-family02;
    margin-bottom: 20px;
}
.footer > .footer-outer > .row > .footer-inner >h3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: #364d59;
    font-size: 18px;
    font-family: $font-family02;
    margin-bottom: 20px;
}
.footer-outer > .row > .footer-down{
    height: auto;
    // border: $sub-border2;
    display: flex;
    padding: 15px 0;
}
.footer-outer > .row > .footer-down h2{
    height: auto;
    font-family: $font-family02;
    // border: $sub-border2;
    color: #364d59;
    font-size: 16px;
    margin-bottom: 0px!important;
    text-align: center;
}
.footer-outer > .row > .footer-down h2 i{
    padding: 0 5px;
}
.footer-outer > .row > .footer-down h2 span a{
    color: #999999;
    text-decoration: none;
}
.footer-outer > .row > .footer-down h2 span a:hover{
    color: #000000;
}
.footer-outer > .row > .footer-down02{
    height: auto;
    // border: $sub-border2;
    display: flex;
    position: relative;
    align-items: right!important;
    justify-content: right;
    padding: 15px 0;
}
.footer-outer > .row > .footer-down02 > .textbox{
    right: 0;
    height: auto;
    // border: $sub-border2;
    display: flex;
    align-items: right;
    text-align: right!important;
}
.footer-outer > .row > .footer-down02 > .textbox a h3{
    color: #00000080;
    font-size: 16px;
    font-family: $font-family02;
    margin-left: 16px;
    margin-bottom: 0px;
    cursor: pointer; 
}
.footer-outer > .row > .footer-down02 > .textbox a h3:hover{
    color: #000;
}
.footer-outer > .row > .footer-down02 > .textbox a{
    text-align: right!important;
    display: flex;
    text-decoration: none;
}
/*=================footer end============================*/


@media (max-width: 1024px){
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .head-topic-outer > .head-topic {
        width: 66%;
        height: inherit;
    }
    .background-outer > .bg-outer-body-outer {
        top: 25%;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .head-topic-outer {
        height: 115px;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .discription {
        margin-top: 10px;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .discription > .discription-body {
        width: 53%;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .video-play > .video-play-inner > .ply-btn {
        margin-left: 39%;
    }
    
    
}

@media (max-width: 991px) {

    .nav-bar-outer > .container > .row > .nav-logo > .burger-bar{
        display: flex;
        top: 18px;
    }
    .nav-bar-outer > .container > .row > .nav-logo{
        width: 98%;
    }
    .nav-bar-outer > .container > .row > .nav-items{
        display: none;
    }
    .nav-bar-outer{
      padding-top: 50px;
    }
    .background-outer > .bg-outer-body-outer {
        top: 32%;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .head-topic-outer > .head-topic h4 {
        font-size: 40px;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .head-topic-outer > .head-topic {
        width: 71%;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .head-topic-outer{
       height: 50px;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .discription > .discription-body {
        width: 69%;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .video-play > .video-play-inner > .ply-btn {
        margin-left: 35%;
    }

    .choose-us-outer > .choose-inner > .row > .choose-wrapper-right {
        justify-content: center;

    }
    .choose-us-outer > .choose-inner > .row > .choose-wrapper-left{
       padding-left: 0;
        display: flex;

    }
    .choose-us-outer > .choose-inner > .row > .choose-wrapper-left > .wrapper-left-body{
        width: 100%;
    }
    .shadowbox > .shadow-outer > .row > .shadow-box >.shadow-box-outer >.shadow-box-outer-right{
        width: 100%;
    }
    .shadowbox{
        margin-top: 70px;
    }
    .footer-outer > .row > .footer-down02{
        justify-content: center;
    }
    .footer-outer > .row > .footer-down{
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .background-outer > .bg-outer-body-outer{
        top: 27%;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .head-topic-outer{
        height: 100px;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .discription > .discription-body{
        width: 91%;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .video-play > .video-play-inner > .ply-btn {
        margin-left: 30%;
    }
    .background-outer{
        height: 108vh;
    }
    .choose-us-outer > .choose-inner > .row > .choose-wrapper-right {
        justify-content: center;

    }
    .contact-us > .contact-wrapper > .row > .contact-us-outer-btn{
        margin-top: 25px;
        text-align: left;
    }
    
}

@media (max-width: 575px) {
    .background-outer > .bg-outer-body-outer{
        top: 29%;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .head-topic-outer > .head-topic{
        width: 90%;
    }
    .nav-bar-outer {
        padding-left: 0;
        padding-right: 0;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .head-topic-outer{
        height: 60px;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .discription{
        margin-top: 0;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .discription > .discription-body{
        width: 89%;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .video-play > .video-play-inner > .ply-btn {
        margin-left: 32%;
    }
    .icone-area-outer > .icon-inner> .row>* {
        width: 50%;
    }
    .choose-us-outer > .choose-inner > .row > .choose-wrapper-right {
        justify-content: center;

    }
}

@media (max-width: 570px) {
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .head-topic-outer > .head-topic{
        width: 100%;
    }
}

@media (max-width: 514px) {
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .head-topic-outer > .head-topic{
        width: 100%;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .head-topic-outer{
        height: 100px;
    }
    .background-outer > .bg-outer-body-outer{
        top: 24%;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .discription > .discription-body{
        width: 98%;
    }
}

@media (max-width: 425px) {
    .background-outer > .bg-outer-body-outer{
        top: 23%;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .head-topic-outer{
        height: 93px;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .discription{
        margin-top: 7px;
        height: 110px;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .discription > .discription-body{
        width: 93%;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .video-play > .video-play-inner > .ply-btn {
        margin-left: 26%;
    }

}

@media (max-width: 375px) {
    .background-outer > .bg-outer-body-outer{
        top: 20%;
    }
    .background-outer > .bg-outer-body-outer > .main-discription-outer > .video-play > .video-play-inner > .ply-btn {
        margin-left: 20%;
    }
}